<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      autoReload="true" throwExceptions="true">
  
  <targets async ="True">
    <target type="File" name="common" fileName="${basedir}/logs/${shortdate}.log"
            layout="${date:format=HH\:mm\:ss.fff} [${level:uppercase=true}] ${message} ${exception:format=tostring}"
            encoding="UTF-8"/>
  </targets>

  <rules>
   
  </rules>
</nlog>
